:root {
	--cr-black: #333;
	--cr-offwhite: #dedede;
	--cr-red: #C30f16;
	--cr-green: #00a53c;
	--cr-green-dark: #034f20;
}

body {
	font: 16px/1.4 monospace;
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--cr-green-dark);
}

h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.wrapper{
  width: Min(500px, 90vw);
	margin: 0 auto;
  background: #fff;
  border-radius: 10px;
	padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.typing-input {
	opacity: 0;
	z-index: -999;
	position: absolute;
	pointer-events: none;
}

.inputs {
  display: flex;
	flex-wrap: nowrap;
	gap: 5px;

	input {
		flex: 1;
		font-weight: 500;
		color: var(--cr-green);
		text-align: center;
		border: 1px solid var(--cr-red);
		border-radius: 5px;
		background: none;
		pointer-events: none;
		text-transform: uppercase;
		width: calc(100% / 6);
    aspect-ratio: 1/1;
	}
}

.content .details {
  margin: 20px 0 25px;
}

.details p{
  font-size: 19px;
  margin-bottom: 10px;
}

.content .reset-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background: var(--cr-green);
  transition: all 0.3s ease;
}